/* CSS for Episode 57 */
:root{
    background-color: lightgray;
    }
.box {
    width: 100px;
    height: 100px;
    background-color: rgb(214, 88, 74);
    transition: width 2s, height 2s, transform 2s;
}
.box:hover {
    width: 200px;
    height: 200px;
    transform: rotate(180deg);
}