/* CSS for Episode 59 */
:root{
    background-color: lightgray;
    }
.colored-text{
    color: #ca03a9;   
    font-style :italic
}
.span{
    color: yellow
}
.typewriter  {
    color: #500a35;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 2.5s steps(40, end), blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 50% }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

.highlight {
    color: red;
}